<form method="post" action="/puppy">
  <label for="name"> Puppy Name</label>
  <input type="text" id="name" name="name">
  <label for="breed"> Puppy Breed</label>
  <input type="text" id="breed" name="breed">
  <label for="months_old"> Puppy Age</label>
<<<<<<< HEAD
  <input type="text" id="months_old" name="months_old">
=======
  <input type="text" id="age" name="age">
>>>>>>> 9bc38f0b52dfab492230247b5697e71702cba45b
  <input type="submit" value="submit">
</form>
